{
  "branches": [
    "main",
    "next",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "breaking": true,
            "release": "major"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "docs",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": "patch"
          },
          {
            "type": "chore",
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "semantic-release-cargo",
      {
        "allFeatures": true,
        "check": true,
        "publishArgs": [
          "--no-verify"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "Cargo.toml"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "writerOpts": {
          "commitsSort": [
            "subject",
            "scope"
          ]
        },
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "🍕 Features"
            },
            {
              "type": "feature",
              "section": "🍕 Features"
            },
            {
              "type": "fix",
              "section": "🐛 Bug Fixes"
            },
            {
              "type": "perf",
              "section": "🔥 Performance Improvements"
            },
            {
              "type": "revert",
              "section": "⏩ Reverts"
            },
            {
              "type": "docs",
              "section": "📝 Documentation"
            },
            {
              "type": "style",
              "section": "🎨 Styles"
            },
            {
              "type": "refactor",
              "section": "🧑‍💻 Code Refactoring"
            },
            {
              "type": "test",
              "section": "✅ Tests"
            },
            {
              "type": "build",
              "section": "🤖 Build System"
            },
            {
              "type": "ci",
              "section": "🔁 Continuous Integration"
            },
            {
              "type": "chore",
              "section": "🧹 Chores"
            }
          ]
        }
      }
    ]
  ]
}