[package]
name = "fastembed"
version = "1.9.0"
edition = "2021"
description = "Rust implementation of https://github.com/qdrant/fastembed"
license = "MIT"
authors = ["Anush008 <anushshetty90@gmail.com>"]
documentation = "https://docs.rs/fastembed"
repository = "https://github.com/Anush008/fastembed-rs"
homepage = "https://crates.io/crates/fastembed"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1.0" }
flate2 = { version = "1.0" }
minreq = { version = "2.10", default-features = false, features = ["https-rustls"] }
ndarray = { version = "0.15", default-features = false }
ort = { version = "1", features = ["load-dynamic"] }
rayon = { version = "1.7", default-features = false }
serde_json = {version = "1"}
tar = { version = "0.4", default-features = false }
tokenizers = { version = "0.14", default-features = false, features = ["onig"]}
